section.about{
    padding: 15px 0;
    align-items: center; 
    background-color: #f4e9d7;
}

.about__title {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 25px;
}

.about__paragraph {
    margin: 20px 25px;
}

section.about img {
    padding: 0 180px;
}

@media (min-width: 768px) {
    section.about{
        padding: 5px 28px;
        }
}

@media (min-width: 1024px) {
    section.about{
    padding: 5px 80px;
    }

    .about__container{
        width: 68%;
        
    }

    .about__title {
        font-size: 32px;
    }
    
    .about__paragraph {
        font-size: 17px;
        padding: 1px auto;
        line-height: 24px;
    }

    section.about img {
        padding: 7px 0px;
        width: 150px;
    }

}


