.hobbies{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0 0 30px 0;
}

.hobbies__title{
    display: flex;
    font-size: 30px;
    font-weight: bold;
    margin: 2rem;
}

.hobbies__line {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hobbies__box {
    display: flex;
    flex-direction: column-reverse;
    width: 200px;
    height: 180px;
    background-color: white;
    border-radius: 10px;
    margin: 1rem;
    padding: 1px 1px 15px 15px;
}

@media (max-width: 768px){
    .hobbies {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .hobbies__title{
        font-size: 18px;
    }
    
    .hobbies__box{
        width: 156px;
        height: 118px;
    }

}

